rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isTeacher() {
      return request.auth != null && request.auth.token.email == "edu.jkjin@gmail.com";
    }
    match /schedules/{doc}      { allow read: if true; allow write: if isTeacher(); }
    match /notices/{doc}        { allow read: if true; allow write: if isTeacher(); }
    match /settings/{doc}       { allow read: if true; allow write: if isTeacher(); }
    match /students/{doc}       { allow read, write: if isTeacher(); }
    match /customPages/{doc}    { allow read: if true; allow write: if isTeacher(); }
    match /certExams/{doc}      { allow read: if true; allow write: if isTeacher(); }
    match /tasks/{doc}          { allow read, write: if true; }
    match /stats/{doc}          { allow read: if true; allow write: if true; }
    match /visitLog/{doc}       { allow read, write: if true; }
    match /wallPosts/{doc}      { allow read: if resource.data.isPrivate == false || isTeacher(); allow create: if request.auth != null; allow update, delete: if isTeacher() || (request.auth != null && request.auth.token.email == resource.data.authorEmail); }
    match /attendance/{doc}     { allow read, create: if true; allow update, delete: if isTeacher(); }
    match /fcmTokens/{doc}      { allow read: if isTeacher(); allow write: if true; }
    match /tetrisScores/{doc}   { allow read, create: if true; allow update, delete: if isTeacher(); }
    match /counselingSlots/{doc} { allow read, write: if isTeacher(); }
    match /liveNotes/{doc}      { allow read, write: if isTeacher(); }
    match /classes/{classId}{sub=**} { allow read: if true; allow write: if isTeacher(); }
  }
}
